<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>计算页面</title>
{#    <style>#}
{#div {#}
{#    margin-top: auto;#}
{#    background-color: lightgrey;#}
{#    width: 1100px;#}
{#    border: 25px solid green;#}
{#    padding: 25px;#}
{#    margin: 25px;#}

<style>
    body
    {
        background-color: antiquewhite;
    }

</style>
</head>
<body>
<div>
<h1 style="color: black;text-align: center">货量预测系统</h1>
    {% load static %}
<img src="{% static "jd.jpg" %}" alt="京东标识" height=100 width=200  />
</div>
{#{% load static %}#}
{#<img src="{% static "jd.jpg" %}" alt="京东标识" height=100 width=100 />#}
<div>
    <form class="" action="/sample/" method="post" >
    {% csrf_token %}
    <p></p>
    <input type="submit"  value="查看样例">
</form>
<p></p>
<form class="" action="/cal/" method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    <input type="file" name="excel_data">
    <p></p>
    选择算法:
<select id="update_carte_s" name="update_carte_s">
    <option value="5!**8,9**!6!44.9">线性回归法</option>
    <option value="6!**6,7**!6!24.95">弹性系数法</option>
    <option value="7!**10**!3!27.95">灰色预测法</option>
    <option value="8!**11,12**!8!39">时间序列法</option>
</select>
    <input type="submit" class="btn btn-default" value="开始计算">
</form>
</div>
</body>
</html>